<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>matplotlib</title>
    </head>
    <body>
        <h2>Charts example</h2>
        <p><img src="data:image/png; base64, {{ data }}" alt="" height="250", width="500"></p>
        <p>That's all.</p>
    </body>
</html>
